{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/Features-Clean.css' %}">
    <link rel="stylesheet" href="{% static '/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static '/css/Projects-Clean.css' %}">
    <link rel="stylesheet" href="{% static '/css/Projects-Horizontal.css' %}">
    <link rel="stylesheet" href="{% static '/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static '/css/Team-Clean.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" style="padding: 0px 0px;margin: 0px;"><img class="img-thumbnail" src="{% static '/img/Infix%20Studios%20transparent.png' %}" width="100px" style="padding: 0px;border-style: none;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'posts' %}">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Welcome to Infix Studios!</h2>
                <p>We are a small studio specialized in software development</p>
            </div>
        </section>
    </main>
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Projects </h2>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static '/img/Blu%20Sol%20Logo.png' %}"></a></div>
                        <div class="col">
                            <h3 class="name">Blu Sol Energia</h3>
                            <p class="description">We have build a website for Mozambique based company. View <a href="https://blusolenergia.tech/">Here</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item invisible">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static '/img/building.jpg' %}"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item invisible">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static '/img/loft.jpg' %}"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item invisible">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static '/img/minibus.jpeg' %}"></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">What we do</h2>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">web</i>
                    <h3 class="name">Web&nbsp;</h3>
                    <p class="description">We are capable of building beautiful websites using HTML, CSS, JS, Bootstrap, React.js.&nbsp;</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-android icon"></i>
                    <h3 class="name">Android</h3>
                    <p class="description">We love building advanced native android apps, this is our main specialization, we follows the latest technologies.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fab fa-java icon"></i>
                    <h3 class="name">Backend&nbsp;</h3>
                    <p class="description">We offer server side solutions in Spring boot and Django</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-desktop icon"></i>
                    <h3 class="name">Desktop</h3>
                    <p class="description">With a solid background making desktop apps, we are ready to delivery an app that will boast your brand</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">gradient</i>
                    <h3 class="name">Brand and Logo</h3>
                    <p class="description">We offer logo services that will improve your business image</p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static '/img/Nino%20avatar.png' %}">
                    <h3 class="name">Jose Marrima</h3>
                    <p class="title">Software developer</p>
                    <p class="description">I am a passionate android developer, I previously worked in Malaysia, Japan and India. I have worked in diverse areas from embedded systems to research assistance. Now I enjoy building android apps, Websites using React and Django
                        apps</p>
                    <div class="social"><a href="#"><i class="fa fa-github"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fas fa-globe-africa"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static '/img/Ash%20Avatar.png' %}">
                    <h3 class="name">Aishwarya Kamal</h3>
                    <p class="title">Software developer</p>
                    <p class="description">I'm an Android&nbsp;&amp; Full-Stack developer. I enjoy building Android apps &amp;&nbsp;server-side development&nbsp;using Spring Boot. In the past I've worked in Japan and Malaysia. I love calligraphy and travelling. </p>
                    <div class="social"><a href="#"><i class="fa fa-github"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a><a href="#"><i class="fas fa-globe-asia"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="{% static '/img/team%20avatar.png' %}">
                    <h3 class="name">Your Team</h3>
                    <p class="title">Stakeholder</p>
                    <p class="description">Placing together empathy, development talent, we build software solution that will help your team attain your goals&nbsp;</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic" style="background-color: rgb(0,0,0);">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="fab fa-medium"></i></a><a href="#"><i class="icon ion-android-playstore"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Blog</a></li>
                <li class="list-inline-item"><a href="#">Contact us</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Infix Studios © 2020</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static '/js/smoothproducts.min.js' %}"></script>
    <script src="{% static '/js/theme.js' %}"></script>
</body>

</html>